@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zain:wght@200;300;400;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  overflow-x: visible;
}

body {
  background-color: #ffebda;
}

header {
  width: 100vw;
  background-color: #ffebda;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 90px;

  animation: fadeInDown 2s ease-in;
}

header a {
  font-size: 17px;
  color: black;
}

.nav-logo-produk img {
  width: 130px;
}

.nav-item-produk ul {
  margin-left: 100px;
}

.navItemProduk {
  padding: 10px 20px;
}

.nav-item-produk ul li {
  display: inline;
  list-style: none;
  /* padding: 5px; */
}

.nav-item-produk ul li a {
  text-decoration: none;
}

.navItemProduk {
  transition: 0.5s all;
}

.navItemProduk:hover {
  font-size: 20px;
  color: #e76f51;
  font-weight: 700;
}

.active-produk {
  padding: 10px 30px;
  font-weight: 700;
  border: 3px solid #000;
  border-radius: 50px;
  transition: 0.5s all;
  background-color: #36ba98;
}

.active-produk:hover {
  background-color: #e76f51;
}

.nav-kontak-produk a {
  text-decoration: none;
}

.nav-kontak-produk {
  padding: 10px 30px;
  border: 3px solid #000;
  border-radius: 20px;
  background-color: #36ba98;
  box-shadow: 5px 5px 0 #000;
  transition: all 0.5s;
  background-image: linear-gradient(-60deg, #ffffff00 0%, #ffffff00 40%, #ffffff44 40%, #ffffff44 60%, #ffffff00 60%, #ffffff00 100%);
  background-size: 200% 100%;
  background-position-x: 150%;
  cursor: pointer;
}

.nav-kontak-produk:hover {
  margin-top: 10px;
  box-shadow: 0 0 0 #000;
  animation: shimmer 1s forwards;
}

/* Footer Settings */
.footer {
  width: 100vw;
  background-color: #e9c46a;
  color: #000;
  padding: 40px 0 20px;
  font-family: Arial, sans-serif;
  border-top: 5px solid #000;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-section p,
.footer-section a {
  font-size: 14px;
  line-height: 1.5;
  color: #8e763a;
  text-decoration: none;
}

.footer-section a:hover {
  color: #ffffff;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form input {
  margin-bottom: 10px;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.signup-form button {
  background-color: #e76f51;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-form button:hover {
  background-color: #c35338;
}

.footer-bottom {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid #000000;
  color: #8e763a;
}

.footer-bottom p {
  font-size: 15px;
}

/* Keyframes Settings */

@keyframes shimmer {
  0% {
    background-position-x: 150%;
  }
  100% {
    background-position-x: -50%;
  }
}

@keyframes muncul {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes BolakBalik {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}
@keyframes BolakBalik1 {
  0% {
    transform: translateX(-130px);
  }
  100% {
    transform: translateX(270px);
  }
}
@keyframes BolakBalik2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-550px);
  }
}
@keyframes BolakBalik3 {
  0% {
    transform: translateX(-130px);
  }
  100% {
    transform: translateX(470px);
  }
}
@keyframes hoverAround {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes jiggle {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes jiggle1 {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}
