/* jenis font */

@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zain:wght@200;300;400;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  overflow-x: visible;
  scroll-behavior: smooth;
}

body {
  background-color: #ffebda;
}

header {
  width: 100%;
  background-color: #ffebda;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 90px;
  animation: fadeInDown 2s ease-in;
}

header a {
  font-size: 17px;
  color: black;
}

.nav-logo img {
  width: 130px;
}

.nav-item ul {
  margin-left: 100px;
}

.navItem {
  padding: 10px 20px;
}

.nav-item ul li {
  display: inline;
  list-style: none;
}

.nav-item ul li a {
  text-decoration: none;
}

.navItem {
  transition: 0.5s all;
}

.navItem:hover {
  font-size: 20px;
  color: #e76f51;
  font-weight: 700;
}

.active {
  padding: 10px 30px;
  font-weight: 700;
  border: 3px solid #000;
  border-radius: 50px;
  transition: 0.5s all;
  background-color: #36ba98;
}

.active:hover {
  background-color: #e76f51;
}

.nav-kontak a {
  text-decoration: none;
}

.nav-kontak {
  padding: 10px 30px;
  border: 3px solid #000;
  border-radius: 20px;
  background-color: #36ba98;
  box-shadow: 5px 5px 0 #000;
  transition: all 0.5s;
  background-image: linear-gradient(-60deg, #ffffff00 0%, #ffffff00 40%, #ffffff44 40%, #ffffff44 60%, #ffffff00 60%, #ffffff00 100%);
  background-size: 200% 100%;
  background-position-x: 150%;
  cursor: pointer;
}

.nav-kontak:hover {
  margin-top: 10px;
  box-shadow: 0 0 0 #000;
  animation: shimmer 1s forwards;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #e76f51;
  margin: 3px 0;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.BG-HC {
  animation: muncul 3s ease-in;
}

.BG-HC-1 {
  width: 20%;
  position: absolute;
  margin-left: 80%;
  animation: BolakBalik 20s ease-in-out infinite alternate;
  z-index: -20;
}

.BG-HC-2 {
  width: 70%;
  animation: muncul 3s ease-in;
  z-index: 10;
}

.BG-2 {
  width: 20%;
  position: absolute;
  margin-left: 60%;
  margin-top: 25%;
  animation: BolakBalik1 20s ease-in-out infinite alternate;
  z-index: 10;
}

.home-content {
  width: 100%;
  height: 80vh;
  display: flex;
  margin-bottom: 6%;
  justify-content: center;
  align-items: center;
  padding: 0 90px;
}

.text-head-HC {
  width: 100%;
}

.text-head-HC h1 {
  width: 65%;
  font-size: 70px;
  animation: fadeInRight 2s ease-in;
  word-spacing: 100px;
  line-height: 85px;
}

.indonesia {
  transition: all 1s;
}

.text-head-HC p {
  font-size: 20px;
  width: 60%;
  font-weight: 200;
  margin: 10px 0;
  animation: fadeInRight 1.2s ease-in;
}

.text-head-HC h1:hover {
  .indonesia {
    color: #e76f51;
    font-size: 75px;
  }
}

.btn-produk-HC {
  margin-top: 60px;
  animation: fadeInUp 2s ease-in;
}

.btn-produk-HC a {
  text-decoration: none;
  color: black;
  padding: 10px 30px;
  border: 3px solid #000;
  border-radius: 20px;
  background-color: #36ba98;
  transition: all 0.5s;
}

.btn-produk-HC a:hover {
  margin-left: 10px;
  background-color: #f4a261;
}

.gambar-head-HC {
  max-width: 40%;
  display: flex;
  justify-content: right;
}
.gambar-head-HC img {
  width: 90%;
  z-index: -1;
  animation: fadeInLeft 2s ease-in;
}

.text-bahadur {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  background-color: #36ba98;
}

.text-bahadur p {
  text-align: center;
  animation: fadeInLeft linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

#Home-content {
  margin-bottom: 3%;
}

/* Arrow Up */
.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 23px;
  outline: none;
  border: 3px solid #000;
  background-color: #36ba98;
  animation: fadeInUp 0.7s ease-in-out;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 50%;
}

.scroll-to-top i {
  padding: 15px 17px;
}

.scroll-to-top:hover {
  background-color: #2b8d74;
  bottom: 30px;
  box-shadow: 0 0 20px 3px #7dfadb;
}

.scroll-to-top a {
  text-decoration: none;
  color: #000;
}

/* VVVV BAGIAN KELEBIHAN VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV */

.kelebihan-section {
  width: 100%;
  height: 110vh;
  background-color: #ffebda;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}
/* text2nya */
.kelebihan-texts {
  width: 100%;
  height: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.kelebihan-title {
  width: 60%;
  font-size: 40px;
  margin: 20px;
  animation: fadeInDown 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.kelebihan-desc {
  width: 40%;
  font-size: 20px;
  margin: 10px;
  font-weight: 300;
  animation: fadeInDown 1.5s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
/* text2nya */

/* kotak2nya */
.kelebihan-nya {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 85px;
  padding: 0px 100px;
}

.pembuatan-btk {
  width: 300px;
  height: 300px;
  background-color: #36ba98;
  border: 4px solid black;
  border-radius: 20px;
  box-shadow: 20px 20px 0 #000;
  transition: all 0.5s;
  cursor: pointer;
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}
.pembuatan-btk:hover {
  margin-top: 10px;
  box-shadow: 0 0 0 #000;
}

.gambar-pembuatan-btk {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.pembuatan-btk img {
  width: 70px;
  height: 70px;
  padding-left: 20px;
  padding-top: 20px;
}
.pembuatan-btk h1 {
  font-size: x-large;
  padding-left: 20px;
  padding-top: 10px;
}
.pembuatan-btk p {
  font-size: large;
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.menjual-btk {
  width: 300px;
  height: 300px;
  background-color: #e76f51;
  border: 4px solid black;
  border-radius: 20px;
  box-shadow: 20px 20px 0 #000;
  transition: all 0.5s;
  cursor: pointer;
  animation: fadeInUp 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}
.menjual-btk:hover {
  margin-top: 10px;
  box-shadow: 0 0 0 #000;
  animation: shimmer 1s forwards;
}
.gambar-menjual-btk {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.menjual-btk img {
  width: 70px;
  height: 70px;
  padding-left: 20px;
  padding-top: 20px;
}
.menjual-btk h1 {
  font-size: x-large;
  padding-left: 20px;
  padding-top: 10px;
}
.menjual-btk p {
  font-size: large;
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.bahan-berkualitas {
  width: 300px;
  height: 300px;
  background-color: #f4a261;
  border: 4px solid black;
  border-radius: 20px;
  box-shadow: 20px 20px 0 #000;
  transition: all 0.5s;
  cursor: pointer;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}
.bahan-berkualitas:hover {
  margin-top: 10px;
  box-shadow: 0 0 0 #000;
  animation: shimmer 1s forwards;
}

.gambar-bahan-berkualitas-btk {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.bahan-berkualitas img {
  width: 70px;
  height: 70px;
  padding-left: 20px;
  padding-top: 20px;
}
.bahan-berkualitas h1 {
  font-size: x-large;
  padding-left: 20px;
  padding-top: 10px;
}
.bahan-berkualitas p {
  font-size: large;
  padding: 20px 5px 20px 20px;
}

/* tentang-kami-section VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/
.tentang-kami-section {
  width: 100vw;
  height: 110vh;
  background-color: #e9c46a;
  border-top: 7px solid black;
  border-bottom: 7px solid black;
  display: flex;
  margin-top: 100px;
  align-items: center;
  flex-direction: row;
}
.tentang-kami-img-area {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.image-tentang-kami img {
  max-width: 450px;
  border: rgba(255, 0, 0, 0) 3px solid;
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.emoji-tentang-kami-1 img {
  width: 150px;
  position: absolute;
  margin-top: -300px;
  margin-left: 7%;
  z-index: 10;
  animation: fadeInDown 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 60%;
}
.emoji-tentang-kami-2 img {
  width: 150px;
  position: absolute;
  margin-top: 150px;
  margin-left: 30%;
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.tentang-kami-texts-area {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: left;
  flex-direction: column;
}
.title-tentang-kami {
  width: 750px;
  font-size: 55px;
  text-align: left;
  margin-top: 70px;
  animation: fadeInDown 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

/* VVVVVV awan VVVVVV */
.BG-HC-3 {
  animation: muncul 3s ease-in;
}
.BG-3 {
  width: 10%;
  position: absolute;
  margin-left: 80%;
  margin-top: 8%;
  animation: BolakBalik2 25s ease-in-out infinite alternate;
  z-index: 0;
}
.BG-HC-4 {
  width: 70%;
  animation: muncul 3s ease-in;
  z-index: 10;
}
.BG-4 {
  width: 10%;
  position: absolute;
  margin-left: 50%;
  margin-top: 13%;
  animation: BolakBalik3 25s ease-in-out infinite alternate;
  z-index: 10;
}
/* ^^^^^ awan ^^^^^ */

.desc-tentang-kami {
  width: 450px;
  font-size: 20px;
  text-align: left;
  margin-top: 30px;
}
.desc-tentang-kami span {
  font-weight: bold;
}

.main-desc-pengalaman {
  width: 650px;
  font-size: 35px;
  font-weight: 700;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.desc-pengalaman {
  width: 500px;
  font-size: 30px;
  margin-left: 30px;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.main-desc-macam-btk {
  width: 750px;
  font-size: 35px;
  font-weight: 700;
  margin-top: 30px;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.desc-macam-btk {
  width: 550px;
  font-size: 30px;
  margin-left: 30px;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.main-desc-terjual {
  width: 750px;
  font-size: 33px;
  font-weight: 700;
  margin-top: 30px;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.desc-terjual {
  width: 600px;
  font-size: 30px;
  margin-left: 30px;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

/* produk-section VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

.produk-section {
  width: 100%;
  height: auto;
  background-color: #ffebda;
  display: flex;
  flex-direction: column;
}
.produk-section-2 {
  width: 100%;
  height: auto;
  background-color: #ffebda;
  display: flex;
  flex-direction: column;
}

.main-texts-produk {
  width: 100%;
  height: 40%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 160px;
}
.title-produk {
  width: 50%;
  font-size: 50px;
  margin-left: 100px;
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.desc-produk {
  width: 50%;
  font-size: 25px;
  font-weight: 300;
  word-spacing: 0px;
  margin-left: 100px;
  margin-top: 30px;
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.arrow-produk-1 {
  width: 1px;
  height: 1px;
  animation: muncul 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 70%;
}
.arrow-produk-1 img {
  max-width: 290px;
  position: absolute;
  margin-left: 880px;
  margin-top: 50px;
  rotate: -10deg;
  animation: muncul 3s;
}

/* floating emoji cirebon */
.emoji-float-cirebon {
  animation: muncul 3s ease-in;
  z-index: 10;
}
.emoji-float-1-cirebon {
  width: 10%;
  position: absolute;
  margin-left: 56%;
  margin-top: 4%;
  animation: jiggle 2.5s ease-in-out infinite alternate;
  z-index: 10;
}
.cloud-float-cirebon {
  width: 70%;
  animation: muncul 3s ease-in;
  z-index: 10;
}
.cloud-floatt-cirebon {
  width: 70%;
  animation: muncul 3s ease-in;
  z-index: 10;
}
.cloud-float-1-cirebon {
  width: 15%;
  position: absolute;
  margin-left: 57%;
  margin-top: 30%;
  animation: hoverAround 1s ease-in-out infinite alternate;
  z-index: 10;
}
.cloud-float-2-cirebon {
  width: 25%;
  position: absolute;
  margin-left: 73%;
  margin-top: 27%;
  animation: hoverAround 3s ease-in-out infinite alternate;
  z-index: 10;
}
/* floating emoji cirebon */

.all-model-cirebon {
  display: flex;
  flex-direction: row;
}

.model-btk-cirebon-1 {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.model-btk-cirebon-2 {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category1 {
  width: 100px;
  font-size: 10px;
  background-color: #e76f51;
  border-radius: 30px;
  border: 3px solid #000;
  padding: 3px;
  text-align: center;
  margin-left: 180px;
  margin-top: 160px;
  transition: all 0.7s;
  background-image: linear-gradient(-60deg, #ffffff00 0%, #ffffff00 40%, #ffffff44 40%, #ffffff44 60%, #ffffff00 60%, #ffffff00 100%);
  background-size: 200% 100%;
  background-position-x: 150%;
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.category1:hover {
  animation: shimmer 1s forwards;
}
.title-cirebon {
  width: 600px;
  font-size: 40px;
  text-align: left;
  margin-top: 30px;
  margin-left: 180px;
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.title-cirebon h1 {
  transition: all 1s;
}
.title-cirebon h1:hover {
  color: #e76f51;
  margin-left: 5px;
}
.desc-cirebon {
  width: 450px;
  font-size: 20px;
  text-align: left;
  margin-top: 30px;
  margin-left: 180px;
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.button-cirebon {
  position: relative;
  width: 150px;
  font-size: 17px;
  background-color: #e76f5100;
  border-radius: 30px;
  border: 3px solid #000;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  margin-left: 180px;
  transition: all 0.7s;
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.button-cirebon:hover {
  background-color: #f4a261;
  margin-left: 190px;
}
.button-cirebon a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  z-index: 1;
}

.arrow-produk-2 {
  width: 100px;
  height: 130px;
}
.arrow-produk-2 img {
  max-width: 315px;
  position: absolute;
  margin-left: 530px;
  animation: muncul 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 70%;
}

.image-cirebon {
  margin-top: 100px;
}
.image-cirebon img {
  max-width: 450px;
  border: 3px solid black;
  border-radius: 13px;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

/* floating emoji yogya */
.emoji-float-yogya {
  animation: muncul 3s ease-in;
  z-index: 10;
}
.emoji-float-1-yogya {
  width: 10%;
  position: absolute;
  margin-left: 35%;
  margin-top: 4%;
  animation: jiggle1 2.5s ease-in-out infinite alternate;
  z-index: 10;
}
.cloud-float-yogya {
  width: 70%;
  animation: muncul 3s ease-in;
  z-index: 10;
}
.cloud-floatt-yogya {
  width: 70%;
  animation: muncul 3s ease-in;
  z-index: 10;
}
.cloud-float-1-yogya {
  width: 15%;
  position: absolute;
  margin-left: 30%;
  margin-top: 30%;
  animation: hoverAround 1s ease-in-out infinite alternate;
  z-index: 10;
}
.cloud-float-2-yogya {
  width: 25%;
  position: absolute;
  margin-left: 2%;
  margin-top: 27%;
  animation: hoverAround 2s ease-in-out infinite alternate;
  z-index: 10;
}
/* floating emoji yogya */

.all-model-yogya {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.model-btk-yogya-1 {
  width: 50%;
  height: 40%;
  display: flex;
  justify-content: flex-start;
  margin-left: 160px;
}
.model-btk-yogya-2 {
  width: 50%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 160px;
}

.category2 {
  width: 120px;
  font-size: 10px;
  background-color: #f4a261;
  border-radius: 30px;
  border: 3px solid #000;
  padding: 3px;
  text-align: center;
  transition: all 0.7s;
  background-image: linear-gradient(60deg, #ffffff00 0%, #ffffff00 40%, #ffffff44 40%, #ffffff44 60%, #ffffff00 60%, #ffffff00 100%);
  background-size: 200% 100%;
  background-position-x: 150%;
  margin-top: 80px;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.category2:hover {
  animation: shimmer 1s forwards;
}

.title-yogya {
  width: 300px;
  font-size: 40px;
  text-align: right;
  margin-top: 30px;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.title-yogya h1 {
  transition: all 1s;
}
.title-yogya h1:hover {
  color: #f4a261;
  margin-right: 5px;
}
.desc-yogya {
  width: 450px;
  font-size: 20px;
  text-align: right;
  margin-top: 30px;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.button-yogya {
  width: 150px;
  font-size: 17px;
  background-color: #36ba9900;
  border-radius: 30px;
  border: 3px solid #000;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  transition: all 0.7s;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.button-yogya:hover {
  background-color: #f4a261;
  margin-right: 10px;
}
.button-yogya a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
.spacer-yogya {
  height: 170px;
  width: 100px;
}

.image-yogya {
  margin-top: 1px;
}
.image-yogya img {
  max-width: 450px;
  border: 3px solid black;
  border-radius: 13px;
  transition: all 0.5s;
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.button-produk-lainnya-area {
  width: 100%;
  height: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 160px;
  animation: fadeInDown 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.button-produk-lainnya-area a {
  width: 200px;
  font-size: 20px;
  background-color: #36ba98;
  border-radius: 30px;
  border: 3px solid #000;
  padding: 13px;
  text-align: center;
  margin-top: 50px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: all 0.5s;
}
.button-produk-lainnya-area a:hover {
  background-color: #f4a261;
  box-shadow: 0 0 20px #2612025d;
}

/* Testimoni VVVVVVVV */
#Testimoni {
  width: 100vw;
  height: 90vh;
  margin-bottom: 15%;
  background-color: #36ba98;
  border-top: 7px solid black;
  align-items: center;
  border-bottom: 7px solid black;
}

#Testimoni h1 {
  font-size: 80px;
  text-align: left;
  padding: 0 100px;
  margin-top: 50px;
  animation: fadeInRight linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.arrow-testimoni img {
  width: 25%;
}

.wrapper-testimoni {
  max-width: 1536px;
  position: relative;
  text-align: center;
  height: 430px;
  margin-inline: auto;
  position: relative;
  margin-top: 3.6rem;
  overflow: hidden;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0));
  animation: fadeInLeft linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.Card {
  margin-top: 55px;
  border-radius: 6px;
  position: relative;
  left: 100%;
  animation: scrollLeft 50s linear infinite;
  transition: all 1s;
}

.ttmn-card {
  background: #e76f51;
  padding: 20px;
  width: 450px;
  height: 350px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 15px;
  border-radius: 10px;
  box-shadow: 0 0 30px #ffc7995f;
  position: absolute;
  transition: all 0.7s;
  border: #e9c46a 5px solid;
}

.ttmn-img {
  width: 120px;
  height: 120px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 auto -70px;
  position: relative;
  top: -130px;
  border: #e9c46a 5px solid;
  overflow: hidden;
}

.ttmn-img-1,
.ttmn-img-3 {
  top: -107px;
}

.ttmn-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ttmn-card h3 {
  font-size: 22px;
  font-weight: 700;
}
.ttmn-card p {
  font-size: 14px;
  margin: 10px 10px;
}
.ttmn-card h4 {
  font-size: 1em;
  color: #008cba;
  font-weight: normal;
}

.card1 {
  animation-delay: calc(50s / 4 * (4 - 1) * -1);
}
.card2 {
  animation-delay: calc(50s / 4 * (4 - 2) * -1);
}
.card3 {
  animation-delay: calc(50s / 4 * (4 - 3) * -1);
}
.card4 {
  animation-delay: calc(50s / 4 * (4 - 4) * -1);
}

.wrapper-testimoni:hover {
  .Card {
    transition: all 1s;
    animation-play-state: paused;
  }
}

/* Kritik dan Saran vvvvvvvvvvvvvv */

#Kritik-Saran {
  margin-bottom: 15%;
}

#Kritik-Saran h1 {
  text-align: center;
  font-size: 4rem;
  animation: fadeInDown 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

#Kritik-Saran p {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 7%;
  animation: fadeInDown 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.kritik-saran-container {
  max-width: 50%;
  margin: 20px auto;
  padding: 50px 20px;
  background-color: #36ba98;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-family: "poppins";
  border: 8px solid #ff9800;
  position: relative;
  overflow: hidden;
  animation: cardScroll 2.5s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.kritik-saran-container::before {
  content: "";
  position: absolute;
  top: -80px;
  left: -70px;
  width: 200px;
  height: 200px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M50 10C30 10 10 30 10 50s20 40 40 40 40-20 40-40S70 10 50 10zm0 70c-16.6 0-30-13.4-30-30s13.4-30 30-30 30 13.4 30 30-13.4 30-30 30z" fill="%23FF9800"/></svg>')
    no-repeat;
  opacity: 0.8;
}
.kritik-saran-container::after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: -30px;
  width: 100px;
  height: 100px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M90 50c0 22.1-17.9 40-40 40S10 72.1 10 50s17.9-40 40-40 40 17.9 40 40zm-70 0c0 16.6 13.4 30 30 30s30-13.4 30-30-13.4-30-30-30-30 13.4-30 30z" fill="%23FF9800"/></svg>')
    no-repeat;
  opacity: 0.8;
}
.form-group {
  margin-bottom: 20px;
  position: relative;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #fff8e1;
  font-size: 1.4em;
  font-weight: bold;
}
.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 4px solid #e76f51;
  border-radius: 15px;
  font-size: 1.2em;
  box-sizing: border-box;
  background-color: #fff8e1;
  font-family: "Poppins";
}
.form-group textarea {
  resize: vertical;
}
.btn-kritik[type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1.4em;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Poppins";
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 5px 0 #e64a19;
}
.btn-kritik[type="submit"]:hover {
  background-color: #e64a19;
  transform: translateY(2px);
  box-shadow: 0 3px 0 #d84315;
}

/* AI buttonVVVVVVVVVVVV */

.btn-AI {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  font-size: 23px;
  outline: none;
  background-color: #c35338;
  padding: 17px 23px;
  animation: fadeInUp 0.7s ease-in;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 50%;
}

.btn-AI:hover {
  background-color: #2b8d74;
  bottom: 30px;
  box-shadow: 0 0 20px 3px #7dfadb;
}

.btn-AI a {
  text-decoration: none;
  font-weight: 600;
  color: #7dfadb;
}

/* footerVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV */
.footer {
  width: 100vw;
  background-color: #e9c46a;
  color: #000;
  padding: 40px 0 20px;
  font-family: Arial, sans-serif;
  border-top: 5px solid #000;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.footer-section iframe {
  width: 70;
  height: 100;
  display: flex;
  margin-bottom: 70px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-section p,
.footer-section a {
  font-size: 14px;
  line-height: 1.5;
  color: #8e763a;
  text-decoration: none;
}

.footer-section a:hover {
  color: #ffffff;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form input {
  margin-bottom: 10px;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.signup-form .btn-daftar {
  background-color: #e76f51;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-form .btn-daftar:hover {
  background-color: #c35338;
}

.footer-bottom {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid #000000;
  color: #8e763a;
}

.footer-bottom p {
  font-size: 15px;
}

/* Keyframes settings VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

@keyframes shimmer {
  0% {
    background-position-x: 150%;
  }
  100% {
    background-position-x: -50%;
  }
}

@keyframes muncul {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes BolakBalik {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}
@keyframes BolakBalik1 {
  0% {
    transform: translateX(-130px);
  }
  100% {
    transform: translateX(270px);
  }
}
@keyframes BolakBalik2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-550px);
  }
}
@keyframes BolakBalik3 {
  0% {
    transform: translateX(-130px);
  }
  100% {
    transform: translateX(470px);
  }
}
@keyframes hoverAround {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes jiggle {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes jiggle1 {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}

@keyframes scrollLeft {
  to {
    left: -450px;
  }
}

@keyframes cardScroll {
  from {
    opacity: 0;
    transform: perspective(2500px) rotateY(-100deg);
  }
  to {
    transform: perspective(2500px) rotateY(0);
  }
}

/* Responsive settings */

@media screen and (max-width: 768px) {
  /* Navbar */
  .nav-item {
    display: none;
  }

  .nav-kontak {
    display: none;
  }

  .navbar-toggle {
    display: flex;
  }

  /* footer */
  .footer-content {
    flex-direction: column;
  }

  .footer-section {
    margin: 20px 20px;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::selection {
  color: #c35338;
  background: #36ba998f;
}
