/* jenis font */

@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zain:wght@200;300;400;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  overflow-x: visible;
}

body {
  background-color: #ffebda;
}

header {
  width: 100vw;
  background-color: #ffebda;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 90px;

  animation: fadeInDown 2s ease-in;
}

header a {
  font-size: 17px;
  color: black;
}

.nav-logo img {
  width: 130px;
}

.nav-item ul {
  margin-left: 100px;
}

.navItem {
  padding: 10px 20px;
}

.nav-item ul li {
  display: inline;
  list-style: none;
  /* padding: 5px; */
}

.nav-item ul li a {
  text-decoration: none;
}

.navItem {
  transition: 0.5s all;
}

.navItem:hover {
  font-size: 20px;
  color: #e76f51;
  font-weight: 700;
}

.active {
  padding: 10px 30px;
  font-weight: 700;
  border: 3px solid #000;
  border-radius: 50px;
  transition: 0.5s all;
  background-color: #36ba98;
}

.active:hover {
  background-color: #e76f51;
}

.nav-kontak a {
  text-decoration: none;
}

.nav-kontak {
  padding: 10px 30px;
  border: 3px solid #000;
  border-radius: 20px;
  background-color: #36ba98;
  box-shadow: 5px 5px 0 #000;
  transition: all 0.5s;
  background-image: linear-gradient(-60deg, #ffffff00 0%, #ffffff00 40%, #ffffff44 40%, #ffffff44 60%, #ffffff00 60%, #ffffff00 100%);
  background-size: 200% 100%;
  background-position-x: 150%;
  cursor: pointer;
}

.nav-kontak:hover {
  margin-top: 10px;
  /* margin-right: -10px; */
  box-shadow: 0 0 0 #000;
  animation: shimmer 1s forwards;
}

.BG-HC {
  animation: muncul 3s ease-in;
  z-index: -20;
}

.BG-HC-1 {
  width: 20%;
  position: absolute;
  margin-left: 80%;
  animation: BolakBalik 20s ease-in-out infinite alternate;
  z-index: -20;
}

.BG-HC-2 {
  width: 70%;
  animation: muncul 3s ease-in;
  z-index: 10;
}

.BG-HC-2 {
  width: 45%;
  position: absolute;
  margin-left: 50%;
  margin-top: 17.5%;
  animation: BolakBalik1 20s ease-in-out infinite alternate;
  z-index: 10;
}

.home-content {
  width: 100%;
  height: 80vh;
  display: flex;
  margin-bottom: 6%;
  justify-content: center;
  align-items: center;
  padding: 0 90px;
}

.text-head-HC {
  width: 100%;
}

.text-head-HC h1 {
  width: 65%;
  font-size: 70px;
  animation: fadeInRight 2s ease-in;
  word-spacing: 100px;
  line-height: 85px;
  cursor: pointer;
}

.indonesia {
  transition: all 1s;
}

.text-head-HC p {
  font-size: 20px;
  width: 60%;
  font-weight: 200;
  margin: 10px 0;
  animation: fadeInRight 1.2s ease-in;
}

.text-head-HC h1:hover {
  .indonesia {
    color: #e76f51;
    font-size: 75px;
  }
}

.btn-produk-HC {
  margin-top: 30px;
  animation: fadeInUp 2s ease-in;
}

.btn-produk-HC a {
  text-decoration: none;
  color: black;
  padding: 10px 30px;
  border: 3px solid #000;
  border-radius: 20px;
  background-color: #36ba98;
  transition: all 0.5s;
}

.btn-produk-HC a:hover {
  margin-left: 10px;
  background-color: #f4a261;
}

.gambar-head-HC {
  max-width: 40%;
  display: flex;
  justify-content: right;
}
.gambar-head-HC img {
  width: 90%;
  z-index: -1;
  animation: fadeInLeft 2s ease-in;
}

.text-bahadur {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  background-color: #36ba98;
}

.text-bahadur p {
  text-align: center;
  animation: fadeInLeft linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

#Home-content {
  margin-bottom: 3%;
}

/* VVVV BAGIAN KELEBIHAN VVVV */

.kelebihan-section {
  width: 100%;
  height: 110vh;
  background-color: #ffebda;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}
/* text2nya */
.kelebihan-texts {
  width: 100%;
  height: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.kelebihan-title {
  width: 60%;
  font-size: 40px;
  margin: 20px;
  animation: fadeInDown 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.kelebihan-desc {
  width: 40%;
  font-size: 20px;
  margin: 10px;
  font-weight: 300;
  animation: fadeInDown 1.5s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
/* text2nya */

/* kotak2nya */
.kelebihan-nya {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-direction: row;
  margin-top: 85px;
  /* animation: fadeInUp 2s ease-in; */
  padding: 0px 100px;
}

.pembuatan-btk {
  width: 300px;
  height: 300px;
  background-color: #36ba98;
  border: 4px solid black;
  border-radius: 20px;
  box-shadow: 20px 20px 0 #000;
  transition: all 0.5s;
  cursor: pointer;
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}
.pembuatan-btk:hover {
  margin-top: 10px;
  /* margin-right: -10px; */
  box-shadow: 0 0 0 #000;
}

.gambar-pembuatan-btk {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.pembuatan-btk img {
  width: 70px;
  height: 70px;
  padding-left: 20px;
  padding-top: 20px;
}
.pembuatan-btk h1 {
  font-size: x-large;
  padding-left: 20px;
  padding-top: 10px;
}
.pembuatan-btk p {
  font-size: large;
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.menjual-btk {
  width: 300px;
  height: 300px;
  background-color: #e76f51;
  border: 4px solid black;
  border-radius: 20px;
  box-shadow: 20px 20px 0 #000;
  transition: all 0.5s;
  cursor: pointer;
  animation: fadeInUp 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}
.menjual-btk:hover {
  margin-top: 10px;
  /* margin-right: -10px; */
  box-shadow: 0 0 0 #000;
  animation: shimmer 1s forwards;
}
.gambar-menjual-btk {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.menjual-btk img {
  width: 70px;
  height: 70px;
  padding-left: 20px;
  padding-top: 20px;
}
.menjual-btk h1 {
  font-size: x-large;
  padding-left: 20px;
  padding-top: 10px;
}
.menjual-btk p {
  font-size: large;
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.bahan-berkualitas {
  width: 300px;
  height: 300px;
  background-color: #f4a261;
  border: 4px solid black;
  border-radius: 20px;
  box-shadow: 20px 20px 0 #000;
  transition: all 0.5s;
  cursor: pointer;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}
.bahan-berkualitas:hover {
  margin-top: 10px;
  /* margin-right: -10px; */
  box-shadow: 0 0 0 #000;
  animation: shimmer 1s forwards;
}

.gambar-bahan-berkualitas-btk {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.bahan-berkualitas img {
  width: 70px;
  height: 70px;
  padding-left: 20px;
  padding-top: 20px;
}
.bahan-berkualitas h1 {
  font-size: x-large;
  padding-left: 20px;
  padding-top: 10px;
}
.bahan-berkualitas p {
  font-size: large;
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 20px;
}

/* Keyframes settings */

@keyframes shimmer {
  0% {
    background-position-x: 150%;
  }
  100% {
    background-position-x: -50%;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes muncul {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes BolakBalik {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}
@keyframes BolakBalik1 {
  0% {
    transform: translateX(-130px);
  }
  100% {
    transform: translateX(50px);
  }
}
