/* jenis font */

@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zain:wght@200;300;400;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

body {
  background-color: #ffebda;
}

header {
  width: 100vw;
  background-color: #ffebda;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 90px;
  animation: fadeInDown 1s ease-in;
}

header a {
  font-size: 17px;
  color: black;
}

.nav-logo img {
  width: 130px;
}

.nav-item ul {
  margin-left: 135px;
}

.navItem {
  padding: 10px 30px;
}

.nav-item ul li {
  display: inline;
  list-style: none;
  /* padding: 5px; */
}

.nav-item ul li a {
  text-decoration: none;
}

.navItem {
  transition: 0.5s all;
}

.navItem:hover {
  font-size: 20px;
  font-weight: 700;
}

.active {
  padding: 10px 30px;
  font-weight: 700;
  border: 3px solid #000;
  border-radius: 50px;
  transition: 0.5s all;
  background-color: #36ba98;
}

.active:hover {
  background-color: #e76f51;
}

.nav-kontak a {
  text-decoration: none;
}

.nav-kontak {
  padding: 10px 30px;
  border: 3px solid #000;
  border-radius: 20px;
  background-color: #36ba98;
  box-shadow: 5px 5px 0 #000;
  transition: all 0.5s;
  background-image: linear-gradient(-60deg, #ffffff00 0%, #ffffff00 40%, #ffffff44 40%, #ffffff44 60%, #ffffff00 60%, #ffffff00 100%);
  background-size: 200% 100%;
  background-position-x: 150%;
  cursor: pointer;
}

.nav-kontak:hover {
  margin-top: 10px;
  /* margin-right: -10px; */
  box-shadow: 0 0 0 #000;
  animation: shimmer 1s forwards;
}

.home-content {
  width: 100vw;
  height: 80vh;
  display: flex;
  margin-bottom: 6%;
  justify-content: center;
  align-items: center;
  padding: 0 90px;
  /* animation: muncul 1s ease-in; */
}

.text-head-HC {
  width: 100%;
}

.text-head-HC h1 {
  width: 65%;
  font-size: 67px;
  animation: fadeInRight 1s ease-in;
  cursor: pointer;
}
.text-head-HC p {
  font-size: 20px;
  width: 60%;
  font-weight: 200;
  animation: fadeInRight 1.2s ease-in;
}

.text-head-HC p:hover {
  font-weight: 400;
  cursor: pointer;
}

.btn-produk-HC {
  margin-top: 30px;
  animation: fadeInUp 1s ease-in;
}

.btn-produk-HC a {
  text-decoration: none;
  color: black;
  padding: 10px 30px;
  border: 3px solid #000;
  border-radius: 20px;
  background-color: #36ba98;
  transition: all 0.5s;
}

.btn-produk-HC a:hover {
  margin-left: 10px;
  background-color: #f4a261;
}

.gambar-head-HC {
  width: 80%;
  display: flex;
  justify-content: right;
}
.gambar-head-HC img {
  width: 90%;
  z-index: -1;
  animation: fadeInLeft 1s ease-in;
}

.text-bahadur {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  background-color: #36ba98;
}

.text-bahadur p {
  text-align: center;
  animation: fadeInLeft linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

#Home-content {
  margin-bottom: 3%;
}

/* Keyframes settings */

@keyframes shimmer {
  0% {
    background-position-x: 150%;
  }
  100% {
    background-position-x: -50%;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes muncul {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
