/* jenis font */

@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zain:wght@200;300;400;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  overflow-x: visible;
}

body {
  background-color: #ffebda;
}

header {
  width: 100vw;
  background-color: #ffebda;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 90px;

  animation: fadeInDown 2s ease-in;
}

header a {
  font-size: 17px;
  color: black;
}

.nav-logo img {
  width: 130px;
}

.nav-item ul {
  margin-left: 100px;
}

.navItem {
  padding: 10px 20px;
}

.nav-item ul li {
  display: inline;
  list-style: none;
  /* padding: 5px; */
}

.nav-item ul li a {
  text-decoration: none;
}

.navItem {
  transition: 0.5s all;
}

.navItem:hover {
  font-size: 20px;
  color: #e76f51;
  font-weight: 700;
}

.active {
  padding: 10px 30px;
  font-weight: 700;
  border: 3px solid #000;
  border-radius: 50px;
  transition: 0.5s all;
  background-color: #36ba98;
}

.active:hover {
  background-color: #e76f51;
}

.nav-kontak a {
  text-decoration: none;
}

.nav-kontak {
  padding: 10px 30px;
  border: 3px solid #000;
  border-radius: 20px;
  background-color: #36ba98;
  box-shadow: 5px 5px 0 #000;
  transition: all 0.5s;
  background-image: linear-gradient(-60deg, #ffffff00 0%, #ffffff00 40%, #ffffff44 40%, #ffffff44 60%, #ffffff00 60%, #ffffff00 100%);
  background-size: 200% 100%;
  background-position-x: 150%;
  cursor: pointer;
}

.nav-kontak:hover {
  margin-top: 10px;
  box-shadow: 0 0 0 #000;
  animation: shimmer 1s forwards;
}

.BG-HC {
  animation: muncul 3s ease-in;
}

.BG-HC-1 {
  width: 20%;
  position: absolute;
  margin-left: 80%;
  animation: BolakBalik 20s ease-in-out infinite alternate;
  z-index: -20;
}

.BG-HC-2 {
  width: 70%;
  animation: muncul 3s ease-in;
  z-index: 10;
}

.BG-2 {
  width: 20%;
  position: absolute;
  margin-left: 60%;
  margin-top: 25%;
  animation: BolakBalik1 20s ease-in-out infinite alternate;
  z-index: 10;
}

.home-content {
  width: 100%;
  height: 80vh;
  display: flex;
  margin-bottom: 6%;
  justify-content: center;
  align-items: center;
  padding: 0 90px;
}

.text-head-HC {
  width: 100%;
}

.text-head-HC h1 {
  width: 65%;
  font-size: 70px;
  animation: fadeInRight 2s ease-in;
  word-spacing: 100px;
  line-height: 85px;
}

.indonesia {
  transition: all 1s;
}

.text-head-HC p {
  font-size: 20px;
  width: 60%;
  font-weight: 200;
  margin: 10px 0;
  animation: fadeInRight 1.2s ease-in;
}

.text-head-HC h1:hover {
  .indonesia {
    color: #e76f51;
    font-size: 75px;
  }
}

.btn-produk-HC {
  margin-top: 60px;
  animation: fadeInUp 2s ease-in;
}

.btn-produk-HC a {
  text-decoration: none;
  color: black;
  padding: 10px 30px;
  border: 3px solid #000;
  border-radius: 20px;
  background-color: #36ba98;
  transition: all 0.5s;
}

.btn-produk-HC a:hover {
  margin-left: 10px;
  background-color: #f4a261;
}

.gambar-head-HC {
  max-width: 40%;
  display: flex;
  justify-content: right;
}
.gambar-head-HC img {
  width: 90%;
  z-index: -1;
  animation: fadeInLeft 2s ease-in;
}

.text-bahadur {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  background-color: #36ba98;
}

.text-bahadur p {
  text-align: center;
  animation: fadeInLeft linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

#Home-content {
  margin-bottom: 3%;
}

/* VVVV BAGIAN KELEBIHAN VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV */

.kelebihan-section {
  width: 100%;
  height: 110vh;
  background-color: #ffebda;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}
/* text2nya */
.kelebihan-texts {
  width: 100%;
  height: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.kelebihan-title {
  width: 60%;
  font-size: 40px;
  margin: 20px;
  animation: fadeInDown 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.kelebihan-desc {
  width: 40%;
  font-size: 20px;
  margin: 10px;
  font-weight: 300;
  animation: fadeInDown 1.5s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
/* text2nya */

/* kotak2nya */
.kelebihan-nya {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-direction: row;
  margin-top: 85px;
  /* animation: fadeInUp 2s ease-in; */
  padding: 0px 100px;
}

.pembuatan-btk {
  width: 300px;
  height: 300px;
  background-color: #36ba98;
  border: 4px solid black;
  border-radius: 20px;
  box-shadow: 20px 20px 0 #000;
  transition: all 0.5s;
  cursor: pointer;
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}
.pembuatan-btk:hover {
  margin-top: 10px;
  /* margin-right: -10px; */
  box-shadow: 0 0 0 #000;
}

.gambar-pembuatan-btk {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.pembuatan-btk img {
  width: 70px;
  height: 70px;
  padding-left: 20px;
  padding-top: 20px;
}
.pembuatan-btk h1 {
  font-size: x-large;
  padding-left: 20px;
  padding-top: 10px;
}
.pembuatan-btk p {
  font-size: large;
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.menjual-btk {
  width: 300px;
  height: 300px;
  background-color: #e76f51;
  border: 4px solid black;
  border-radius: 20px;
  box-shadow: 20px 20px 0 #000;
  transition: all 0.5s;
  cursor: pointer;
  animation: fadeInUp 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}
.menjual-btk:hover {
  margin-top: 10px;
  /* margin-right: -10px; */
  box-shadow: 0 0 0 #000;
  animation: shimmer 1s forwards;
}
.gambar-menjual-btk {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.menjual-btk img {
  width: 70px;
  height: 70px;
  padding-left: 20px;
  padding-top: 20px;
}
.menjual-btk h1 {
  font-size: x-large;
  padding-left: 20px;
  padding-top: 10px;
}
.menjual-btk p {
  font-size: large;
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.bahan-berkualitas {
  width: 300px;
  height: 300px;
  background-color: #f4a261;
  border: 4px solid black;
  border-radius: 20px;
  box-shadow: 20px 20px 0 #000;
  transition: all 0.5s;
  cursor: pointer;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}
.bahan-berkualitas:hover {
  margin-top: 10px;
  /* margin-right: -10px; */
  box-shadow: 0 0 0 #000;
  animation: shimmer 1s forwards;
}

.gambar-bahan-berkualitas-btk {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.bahan-berkualitas img {
  width: 70px;
  height: 70px;
  padding-left: 20px;
  padding-top: 20px;
}
.bahan-berkualitas h1 {
  font-size: x-large;
  padding-left: 20px;
  padding-top: 10px;
}
.bahan-berkualitas p {
  font-size: large;
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 20px;
}

/* tentang-kami-section VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/
.tentang-kami-section {
  width: 100vw;
  height: 110vh;
  background-color: #e9c46a;
  border-top: 7px solid black;
  border-bottom: 7px solid black;
  display: flex;
  margin-top: 100px;
  align-items: center;
  flex-direction: row;
}
.tentang-kami-img-area {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.image-tentang-kami img {
  max-width: 450px;
  /* border-radius: 300px; */
  border: rgba(255, 0, 0, 0) 3px solid;
  /* box-shadow: 20px 20px #000; */
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.emoji-tentang-kami-1 img {
  width: 150px;
  position: absolute;
  margin-top: -300px;
  margin-left: 7%;
  z-index: 10;
  animation: fadeInDown 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 60%;
}
.emoji-tentang-kami-2 img {
  width: 150px;
  position: absolute;
  margin-top: 150px;
  margin-left: 30%;
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.tentang-kami-texts-area {
  width: 55%;
  height: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: left;
  flex-direction: column;
}
.title-tentang-kami {
  width: 750px;
  font-size: 55px;
  text-align: left;
  margin-top: 70px;
  /* margin-left: 150px; */
  animation: fadeInDown 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

/* VVVVVV awan VVVVVV */
.BG-HC-3 {
  animation: muncul 3s ease-in;
}
.BG-3 {
  width: 10%;
  position: absolute;
  margin-left: 80%;
  margin-top: 8%;
  animation: BolakBalik2 25s ease-in-out infinite alternate;
  z-index: 0;
}
.BG-HC-4 {
  width: 70%;
  animation: muncul 3s ease-in;
  z-index: 10;
}
.BG-4 {
  width: 10%;
  position: absolute;
  margin-left: 50%;
  margin-top: 13%;
  animation: BolakBalik3 25s ease-in-out infinite alternate;
  z-index: 10;
}
/* ^^^^^ awan ^^^^^ */

.desc-tentang-kami {
  width: 450px;
  font-size: 20px;
  text-align: left;
  margin-top: 30px;
  /* margin-left: 150px; */
}
.desc-tentang-kami span {
  font-weight: bold;
}

.main-desc-pengalaman {
  width: 650px;
  font-size: 35px;
  font-weight: 700;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.desc-pengalaman {
  width: 500px;
  font-size: 30px;
  margin-left: 30px;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.main-desc-macam-btk {
  width: 750px;
  font-size: 35px;
  font-weight: 700;
  margin-top: 30px;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.desc-macam-btk {
  width: 550px;
  font-size: 30px;
  margin-left: 30px;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.main-desc-terjual {
  width: 750px;
  font-size: 35px;
  font-weight: 700;
  margin-top: 30px;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.desc-terjual {
  width: 600px;
  font-size: 30px;
  margin-left: 30px;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

/* produk-section VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

.produk-section {
  width: 100%;
  height: auto;
  background-color: #ffebda;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
}
.produk-section-2 {
  width: 100%;
  height: auto;
  background-color: #ffebda;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
}

.main-texts-produk {
  width: 100%;
  height: 40%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 160px;
}
.title-produk {
  width: 50%;
  font-size: 50px;
  margin-left: 100px;
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.desc-produk {
  width: 50%;
  font-size: 25px;
  font-weight: 300;
  word-spacing: 0px;
  margin-left: 100px;
  margin-top: 30px;
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.arrow-produk-1 {
  width: 1px;
  height: 1px;
  animation: muncul 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 70%;
}
.arrow-produk-1 img {
  max-width: 290px;
  position: absolute;
  margin-left: 880px;
  margin-top: 50px;
  rotate: -10deg;
  animation: muncul 3s;
}

.all-model-cirebon {
  display: flex;
  flex-direction: row;
}
.model-btk-cirebon-1 {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.model-btk-cirebon-2 {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category1 {
  width: 100px;
  font-size: 10px;
  background-color: #e76f51;
  border-radius: 30px;
  border: 3px solid #000;
  padding: 3px;
  text-align: center;
  margin-left: 180px;
  margin-top: 160px;
  transition: all 0.7s;
  background-image: linear-gradient(-60deg, #ffffff00 0%, #ffffff00 40%, #ffffff44 40%, #ffffff44 60%, #ffffff00 60%, #ffffff00 100%);
  background-size: 200% 100%;
  background-position-x: 150%;
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.category1:hover {
  animation: shimmer 1s forwards;
}
.title-cirebon {
  width: 600px;
  font-size: 40px;
  text-align: left;
  margin-top: 30px;
  margin-left: 180px;
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.title-cirebon h1 {
  transition: all 1s;
}
.title-cirebon h1:hover {
  color: #e76f51;
  margin-left: 5px;
}
.desc-cirebon {
  width: 450px;
  font-size: 20px;
  text-align: left;
  margin-top: 30px;
  margin-left: 180px;
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.button-cirebon {
  position: relative;
  width: 150px;
  font-size: 17px;
  background-color: #e76f5100;
  border-radius: 30px;
  border: 3px solid #000;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  margin-left: 180px;
  transition: all 0.7s;
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.button-cirebon:hover {
  background-color: #f4a261;
  margin-left: 190px;
}
.button-cirebon a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  z-index: 1;
}

.arrow-produk-2 {
  width: 100px;
  height: 130px;
}
.arrow-produk-2 img {
  max-width: 315px;
  position: absolute;
  margin-left: 530px;
  animation: muncul 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 70%;
}

.image-cirebon {
  margin-top: 100px;
}
.image-cirebon img {
  max-width: 450px;
  border: 3px solid black;
  border-radius: 13px;
  box-shadow: 20px 20px 0 #000;
  /* margin-top: -20px; */
  transition: all 0.5s;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.image-cirebon img:hover {
  margin-top: 10px;
  box-shadow: 0 0 0 #000;
}

.all-model-yogya {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.model-btk-yogya-1 {
  width: 50%;
  height: 40%;
  display: flex;
  justify-content: flex-start;
  margin-left: 160px;
}
.model-btk-yogya-2 {
  width: 50%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 160px;
}

.category2 {
  width: 120px;
  font-size: 10px;
  background-color: #f4a261;
  border-radius: 30px;
  border: 3px solid #000;
  padding: 3px;
  text-align: center;
  transition: all 0.7s;
  background-image: linear-gradient(60deg, #ffffff00 0%, #ffffff00 40%, #ffffff44 40%, #ffffff44 60%, #ffffff00 60%, #ffffff00 100%);
  background-size: 200% 100%;
  background-position-x: 150%;
  margin-top: 80px;
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.category2:hover {
  animation: shimmer 1s forwards;
}

.title-yogya {
  width: 300px;
  font-size: 40px;
  text-align: right;
  margin-top: 30px;
  /* margin-left: 150px; */
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.title-yogya h1 {
  transition: all 1s;
}
.title-yogya h1:hover {
  color: #f4a261;
  /* font-size: 61px; */
  margin-right: 5px;
}
.desc-yogya {
  width: 450px;
  font-size: 20px;
  text-align: right;
  margin-top: 30px;
  /* margin-left: 150px; */
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.button-yogya {
  width: 150px;
  font-size: 17px;
  background-color: #36ba9900;
  border-radius: 30px;
  border: 3px solid #000;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  transition: all 0.7s;
  /* margin-left: 150px; */
  animation: fadeInLeft 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.button-yogya:hover {
  background-color: #f4a261;
  /* font-size: 61px; */
  margin-right: 10px;
}
.button-yogya a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
.spacer-yogya {
  height: 170px;
  width: 100px;
}

.image-yogya {
  margin-top: 1px;
}
.image-yogya img {
  max-width: 450px;
  border: 3px solid black;
  border-radius: 13px;
  box-shadow: 20px 20px 0 #000;
  transition: all 0.5s;
  animation: fadeInRight 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.image-yogya img:hover {
  margin-top: 10px;
  box-shadow: 0 0 0 #000;
  /* animation: shimmer 1s forwards; */
}

.button-produk-lainnya-area {
  width: 100%;
  height: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 150px; */
  margin-bottom: 160px;
  animation: fadeInDown 2s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.button-produk-lainnya-area a {
  width: 200px;
  font-size: 20px;
  background-color: #36ba98;
  border-radius: 30px;
  border: 3px solid #000;
  padding: 13px;
  text-align: center;
  margin-top: 50px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: all 0.5s;
}
.button-produk-lainnya-area a:hover {
  background-color: #f4a261;
  box-shadow: 0 0 20px #2612025d;
}

/* Keyframes settings VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

@keyframes shimmer {
  0% {
    background-position-x: 150%;
  }
  100% {
    background-position-x: -50%;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes muncul {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes BolakBalik {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}
@keyframes BolakBalik1 {
  0% {
    transform: translateX(-130px);
  }
  100% {
    transform: translateX(270px);
  }
}
@keyframes BolakBalik2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-550px);
  }
}
@keyframes BolakBalik3 {
  0% {
    transform: translateX(-130px);
  }
  100% {
    transform: translateX(470px);
  }
}
